// COLORS //

$color-header-bg: #17191f ;
//$color-header-bg: #31292a;
$color-green: #90a10b;
$color-gold: #d2af73;
$color-logo: #8c702e;

$color-red: #cf1531;

$color-text: #484848;

// DIMENSIONS //

$height-header: 80px;
$section-padding: 50px;
